# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
dist/
build/

# Virtual environments
venv/
.venv/
env/

# Django
*.sqlite3
db.sqlite3
media/

# IDE
.vscode/
.idea/
*.swp
*.swo
